@import url(../general.css);

.card {
    position: relative;
    width: 200px;
    aspect-ratio: 1/1;
    aspect-ratio: 1/1;
    background-color: #1e1197;
    padding: 2rem 1rem;
    display: grid;
    place-content: center;
    border-radius: 20px;

    transition: transform 1s;
    transform-style: preserve-3d;
}
.answer {
    display: none;
}

.card-label input {
    display: none;
}

.card-label input:checked+.card {
    transform: rotateY(180deg);
}

.card-label input:checked+.card .question {
    display: none;
}
.card-label input:checked+.card .answer {
    display: block;
    transform: rotateY(180deg);
}

.answer,
.question {
    backface-visibility: hidden;
}