
.loading-container {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

@keyframes loading {
    50% {
        transform: scale(0.8);
        background-color: rgb(161, 155, 155);
    }
}

.loading-container div {
    width: 30px;
    height: 30px;
    border-radius: 3000px;
    background-color: rgb(107, 99, 99);

    animation: loading alternate 2s ease-in-out 0s infinite;
}
