@import url(../general.css);

:root {
    --angle: 0deg;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.gradient {
    padding: 2px;
    background: conic-gradient( from var(--angle), purple, blue, yellow, purple);

    animation: spin 2s linear infinite;
}

.start-coding {
    font-family: Verdana;
    background-color: #000;
    color: #a3a2a2;
    padding: 1rem 2rem;
}


.start-coding:hover {
    padding: 1.2rem 2.2rem;
    color: #fff;
    font-size: 17px;
}
.gradient:hover {
    background: linear-gradient( 300deg, purple, blue, yellow);
}